@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos de la tabla */
.table-container {
    @apply 
        max-w-[1000px]    /*max-witdth*/
        mx-auto           /*margin horizontal*/
        my-10             /*margin vertical*/
      bg-white          /*background*/ 
        p-5               /*padding*/ 
        rounded-xl        /*border-radius*/ 
        shadow-lg         /*box-shadow*/ 
        font-sans;        /*font-family*/ 
}

/* Encabezados de la tabla */
.table thead th {
    @apply 
      bg-blue-500 
      text-white         /*color-texto*/ 
        p-3 
        text-center        /*text-align*/ 
        text-[15px];       /*font-size*/ 
}

/* Filas de la tabla */
.table tbody td {
    @apply 
        px-3              /*padding horizontal*/ 
        py-2              /*padding vertical*/ 
        border-b          /*border-bottom*/ 
        border-gray-300 /*border-color*/ 
        text-sm;
}

/* Fila alternada */
.table tbody tr:nth-child(even) {
    @apply bg-[#f7f9fc];
}

/* Hover fila */
.table tbody tr:hover {
    @apply bg-[#eaf2ff];
}

/* Botones de acción */
.btn {
    @apply 
        border         /*borde solido y color por defecto*/ 
        rounded-lg        /*borde redondeado*/ 
        px-3 
        py-2
        text-white 
        font-bold       /*letra en negritas*/ 
        inline-block     /*display*/ 
        transition-all     /*transición suave*/ 
        w-28
        text-center; 
}

.btn-success {
    @apply bg-green-600 hover:bg-green-800 mb-4  w-32
}

.btn-warning {
    @apply bg-green-600 hover:bg-green-800
}

.btn-primary {
    @apply bg-blue-600 hover:bg-blue-800
}

.btn-danger {
    @apply bg-red-600 hover:bg-red-800 
}


/* Paginación (Laravel links) */
.pagination {
    @apply mt-[20px];    /*margin-top*/
}

/* Estilos de los detalles(show)*/
.card {
    @apply 
        max-w-[500px] 
        mx-auto 
        mt-10 
        bg-white 
        p-[25px] 
        rounded-xl 
        shadow-lg 
        font-sans;
}

.card-title {
    @apply 
        text-2xl 
        font-bold 
        mb-5 
        text-center 
        text-[#333];
}

.card p {
    @apply 
        text-base 
        mb-3 
        p-3 
        bg-[#f8f9fa] 
        rounded-lg 
        border-l-4   /*border left*/
        border-[#4a90e2];  /*border color*/
}

.card p strong {
    @apply text-[#333] font-semibold;
}

.back-link {
   @apply mt-[25px] text-center;
}

.back-link a {
    @apply no-underline text-[#4a90e2] font-bold transition duration-300;
}

.back-link a:hover {
    @apply text-[#1f6fba];
}

/* Estilos del formulario */
.form-container {
    @apply
        max-w-[500px] 
        mx-auto 
        mt-10 
        bg-white 
        p-[30px] 
        rounded-xl 
        shadow-lg 
        font-sans;
}

/* Estilos de las etiquetas */
.form-container label {
    @apply 
        block  /*Ocupa el ancho disponible en el contenedor*/
        font-bold   /*letra en negrita*/
      text-gray-800    /*color letra*/
        mt-4 
        mb-1;
}

/* Inputs y textarea */
.form-container input,
.form-container textarea {
    @apply 
        w-full    /*With*/
        p-3 
        border    /*borde*/
        border-gray-300 /*color del borde*/
        rounded-lg 
        text-[15px] 
        bg-gray-100  /*fonfo, background*/
        transition-colors;   /*transición suave para cambios de color*/
}

/* Cuando el input recibe click */
.form-container input:focus,
.form-container textarea:focus {
    @apply border-blue-500 outline-none bg-white;
}

/* Boton enviar */
.form-container button {
    @apply 
        w-full 
        p-3 
        border-0   /*sin borde*/
        rounded-lg 
        bg-blue-500 
        text-white 
        text-[17px] 
        cursor-pointer   /*cursor de mano*/
        mt-5 
        transition-colors; /*transición suave en cambios de color*/
}

.form-container button:hover {
    @apply bg-blue-800;
}

/* Enlace de volver */
.back-link {
    @apply text-center mt-5;
}

.back-link a {
    @apply no-underline text-blue-500 font-bold;
}

.back-link a:hover {
    @apply text-blue-600;
}

/* Formulario Busqueda */
.search-form  {
   @apply mb-4 flex items-center gap-2;
}

.search-form input {
    @apply border rounded px-2 py-1;
}

/* -----MODAL------- */
/*Checkbox oculto*/
.modal-toggle:checked + .btn-openModal + .modal {
    display: flex;
}

/* Fondo del modal */
.modal {
    @apply hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center;
}

/* Contenido del modal*/
.modal-content {
    @apply bg-white p-6 rounded shadow-lg w-80;
}

/* Titulo del modal*/
.tittle-modal {
    @apply text-lg font-semibold mb-4 p-4 bg-green-100 w-full;
}

/* Monto*/
.monto {
    @apply block mb-1;
}

.enter-amount {
    @apply border rounded w-full px-2 py-1;
}

/*Botón abrir y cerrar modal*/
.btn-openModal {
    @apply bg-blue-600 text-white px-4 py-2 rounded m-2 cursor-pointer;
}

/*Cerrar modal*/
.btn-closeModal {
    @apply bg-red-600 text-white px-4 py-2 rounded-lg m-2 cursor-pointer;
}

/* Botón guardar del modal*/
.btn-save {
    @apply  bg-green-600 text-white px-4 py-1 rounded-lg m-2;
}

/* Generar comprobante */
.btn-voucher {
    @apply  bg-yellow-600 text-white px-4 py-1 rounded-lg m-2;
}

/*Tabla de pagos*/
.table-payments {
    @apply
    w-full
    table-fixed
    border-collapse;
}

.table-payments thead th {
    @apply 
      bg-blue-500 
      text-white         /*color-texto*/ 
        p-3 
        text-center        /*text-align*/ 
        text-[15px];       /*font-size*/ 
}

.table-payments tbody td {
    @apply 
        px-10              /*padding horizontal*/ 
        py-2              /*padding vertical*/ 
        border-b          /*border-bottom*/ 
        border-gray-300 /*border-color*/ 
        text-sm;
}

.btn-payments {
    @apply 
        border         /*borde solido y color por defecto*/ 
        rounded-lg        /*borde redondeado*/ 
        px-3 
        py-2
        text-white 
        font-bold       /*letra en negritas*/ 
        inline-block     /*display*/ 
        transition-all     /*transición suave*/ 
        text-center
        bg-green-600
        hover:bg-green-800 
        mb-4; 
}
