/*PDF estilos*/

/* Cuerpo del PDF */
body {
    font-family: Arial, sans-serif;   /*tipo letra*/
    font-size: 12px;        /*tamaño letras*/
    color: #0e0d0d;      /*color letras*/
}

/* Componentes del PDF */
.container {
    padding: 20px;   /* espacio interno */
    border: 1px solid #ddd;   /* tamaño y color del borde */
}

.section-title {
    background-color: #f2f2f2;     
    padding: 6px;
    font-weight: bold;
    margin-bottom: 8px;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;    /* unir todas las celdas */     
}

td {
    padding: 5px;
}

.label {
    font-weight: bold;
    width: 35%;
}
